# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
xcuserdata/
*.moved-aside

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods / Carthage (if ever used)
Pods/
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/screenshots/**/*.png

# Secrets / local config
*.env
Secrets.xcconfig
